<div>
  <h1>Productos</h1>
  <ul>
    {{#each products}}
      <li>
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
        <img src={{this.thumbnail}} alt={{this.title}} />
      </li>
    {{/each}}
  </ul>
</div>